/* Button Styles */
.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-lg);
  font-weight: 500;
  border-radius: var(--radius-md);
  transition: var(--transition);
  text-decoration: none;
  box-shadow: var(--shadow-sm);
  text-align: center;
}

.button.primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.button.primary:hover {
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-md);
}

.button.secondary {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button.secondary:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

@media screen and (width <= 768px) {
  .button {
    width: 100%;
    justify-content: center;
  }
}
