@use "../breakpoints" as *;

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--space-lg);
  margin-top: var(--space-md);
}

@media (width <= $bp-sm) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: var(--space-md);
  }
}
