---
import Home from "../components/Home.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Action Park">
  <h1>Welcome to Action Park</h1>
  <p>We are glad to have you here!</p>
  <Home />
</BaseLayout>
