---
import Welcome from "../components/Welcome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title="Action Park">
	<h1>Welcome to Action Park</h1>
	<p>We are glad to have you here!</p>
	<Welcome />
</BaseLayout>
