---
import Section from "./Section.astro";
import "../styles/components/Contact.scss";
---

<Section id="contact" align="center" bg="var(--color-bg)">
  <h3>Get in Touch</h3>
  <div class="contact-info">
    <p>
      I`m always up for chat over coffee or a quick video call. Reach out at
      <a href="mailto:hello@yourdomain.com">hello@yourdomain.com</a>.
    </p>
  </div>
</Section>
