---
import Section from "./Section.astro";
import Button from "./Button.astro";
import SectionHeader from "./SectionHeader.astro";
import "../styles/components/Contact.scss";
---

<Section id="contact">
  <div class="container">
    <div class="contact-content">
      <SectionHeader title="Get in Touch" headerSize={2} />
      <p class="lead">
        Have a project in mind? I'm always open to discussing new opportunities.
      </p>

      <div class="cta-container">
        <Button href="mailto:hello@yourdomain.com" variant="primary" size="lg">
          Start a Project
        </Button>
        <Button href="#" variant="secondary" size="lg">
          Download Resume
        </Button>
      </div>
    </div>
  </div>
</Section>
