---
import "../styles/components/Hamburger.scss";
const { class: className = "" } = Astro.props;
---

<button
  class={`hamburger ${className}`}
  id="hamburger"
  aria-label="Open navigation menu"
>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</button>
