---
import Section from "./Section.astro";
import Button from "./Button.astro";
import HeroText from "./HeroText.astro";
import "../styles/components/Hero.scss";
---

<Section id="hero">
  <div class="hero-content">
    <HeroText
      top="STAND"
      bottom="OUT"
      topAlign="left"
      bottomAlign="right"
      topSize="7.5rem"
      bottomSize="6rem"
    />
    <p class="lead">
      Freelance developer specialising in Astro, React and web-performance
      audits.
    </p>
    <div class="cta-group">
      <Button href="#work" variant="primary">See my work</Button>
      <Button href="#contact" variant="secondary">Get in touch</Button>
    </div>
  </div>
</Section>
