---
import "../styles/components/NavBar.scss";
import Hamburger from "./Hamburger.astro";
---

<header class="nav-container">
  <div class="nav-content">
    <p><b>parapet</b>creative</p>
    <Hamburger />
  </div>
</header>
